/* static/terminal.css */

/* --- CUSTOM FONT --- */
@font-face {
  font-family: 'Unscii';
  src: url('/static/unscii-16.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* --- RESET --- */
body {
  margin: 0;
  background: #000; /* Force Black Page Background */
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  touch-action: none;
}

/* --- THE STAGE --- */
#terminal-stage {
  width: 100%;
  height: 100%;
  position: relative;
  background: #000; /* Force Black Stage Background */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* --- THE TERMINAL CONTAINER --- */
#terminal {
  transform-origin: center center;
  will-change: transform;
  background-color: #000; /* Force Black Terminal Background */
}

/* --- XTERM INTERNAL FIXES --- */
.xterm-screen {
    border: 1px;
    box-sizing: content-box;
    position: relative;
    z-index: 10;
}

/* [OPTIONAL] Force sharp pixel scaling for the Unscii font */
.xterm-screen canvas {
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
}
.xterm-viewport {
    overflow: hidden !important;
}

/* --- HIDE CURSOR --- */
body.hide-cursor { cursor: none !important; }
body.hide-cursor * { cursor: none !important; pointer-events: none; }